body {
    display: flex;
    align-items: center;
    justify-content: center;
    height:98vh;
    gap: 5%;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 25vw;
    padding: 5%;
    border: 2px solid red;
}

.colorMenu {
    display: flex;
    flex-direction: column;
    width: 10%;
}

input[type = number], input[type = text] {
    width: 80px;
}

#colorPreview {
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

.red, .green, .blue , .hex{
    display: flex;
}

.invalid {
    display: none;
    height: 20px;
    white-space: nowrap;
}

.gridMenu {
    display: flex;
    flex-direction: column;
}

#gridContainer {
    display: grid;
    height: 80vh;
    width: 80vh;
    border: 2px red solid;
}

.gridElement {
    height: auto;
    width: auto;

}

.toggled {
    background-color: #abcdef;
}